.section-1{
  h2{
    margin: 200px 0 270px 0;
  }
}
.section-2{
  position: relative;
  top:-150px;
  .section-2-content{
    background: url("../img/hero-bg.png");
    background-size: 85% 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 50px 0 170px 0;
    .inspiration{
      width: 392px;
      height: 330px;
      padding: 50px;
      background: #FFFFFF;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;
      p{
        margin: 30px 0 30px 0;
        font-size: 16px;
        line-height: 20px;
        color: #8D8C8C;
      }
    }
  }
}

.section-3{
  position: relative;
  top:-90px;
  padding: 0 0 35px 0;
  .section-3-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item-left{
      width: 100%;
      height: 523px;
      margin-right: 20px;
      background: url("../img/Object.png");
      background-size: 100% 100%;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;

    }
    .item-right{
      width: 100%;
      height: 523px;
      margin-left: 20px;
      background: url("../img/everything.png");
      background-size: cover;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;
    }
    .item-right, .item-left{
      .content{
        background: transparent;
        padding: 150px 60px 0 60px ;
        width: 100%;
        height: 100%;
        transition: 0.3s;

        h3{
          font-size: 36px;
          color: transparent;
        }
        p{
          font-size: 20px;
          color: transparent;
          margin: 70px 0 20px 0;
          line-height: 26px;
        }
        a{
          display: inline-block;
          line-height: 40px;
          width: 100px;
          height: 40px;
          background: transparent;
          border-radius: 133px;
          color: transparent;
        }
      }
      .content:hover{
        background: rgba(0,0,0, 0.7);
        h3{
          color: #FFFFFF;
        }
        p{
          color: #FFFFFF;
        }
        a{
          background: #FF550F;
          color: #fff;
        }
      }
    }
  }
}

.section-4 {
  position: relative;
  top: -85px;
  .section-4-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      width: 360px;
      height: 300px;
      background-color: #0f0f0f;
      margin: 25px 0 25px 0;
      .content {
        background: transparent;
        padding: 50px 35px 0 35px;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        h4 {
          font-size: 30px;
          text-align: center;
          color: transparent;
        }
        p {
          margin: 25px 0 25px 0;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: transparent;
        }
        .read-more-red{
         visibility: hidden;
        }
      }
      .content:hover {
        background: rgba(0, 0, 0, 0.7);
        h4 {
          color: #FFFFFF;
        }
        p {
          color: #FFFFFF;
        }
        .read-more-red{
          visibility: visible;
        }
      }
    }

  }

  #item-1 {
    background: url("../img/travelbus_2x.png");
    background-size: 100% 100%;
  }

  #item-2 {
    background: url("../img/boulder_badge.png");
    background-size: 100% 100%;
  }
  #item-3 {
    background: url("../img/artboard_16_copy.png");
    background-size: 100% 100%;
  }
  #item-4 {
    background: url("../img/travelbus_2x.png");
    background-size: 100% 100%;
  }
  #item-5 {
    background: url("../img/boulder_badge.png");
    background-size: 100% 100%;
  }
  #item-6 {
    background: url("../img/artboard_16_copy.png");
    background-size: 100% 100%;
  }

}
