
header {
  position: fixed;
  display: block;
  width: 100%;
  padding: 0 60px 0 60px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  z-index: 4;
  transition: background 0.3s ease-in-out;
  font-family: 'PT Sans', sans-serif;

  nav {
    h1{
      padding: 10px;
    }
    .navbar-collapse {
      .navbar-right {
        li {
          text-align: center;
          position: relative;
          padding: 10px 33px 10px 33px;
          a {
            line-height: 70px;
            color: #fff;
            font-family: Geometria,sans-serif;
            background: none;
            padding: 0;
            font-weight: 300;
          }
          .line{
            position: absolute;
            background: transparent;
            display: inline-block;
            bottom: 0;
            left: 0;
            right: 0;
            margin:0 auto;
            width: 70px;
            height: 1px;
            transition: background 0.3s ease-in-out;
          }
        }
        li :hover ~ .line{
          background: #f7b940;

        }
        .header-contact-info{
          a{
            color: #53d0fb;
          }
        }
        .header-lang{
          padding: 10px 0 10px 33px;
          color: #53d0fb;
          li{
            display: inline;
            text-align: center;
            position: relative;
            padding: 5px;
            a{
              line-height: 70px;
              color: inherit;
            }
          }
        }
      }
    }
  }
}
li:hover .line:hover{
  background: #f7b940;
}

@media only screen and (max-width: 1692px) {
  header {
    nav {
      h1 {
        padding: 10px;
      }
      .navbar-collapse {
        .navbar-right {
          li {
            padding: 10px 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1466px) {
  header {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 1366px) {
  header {
    nav {
      #hamburger{
        display: inline-block;
      }
      .navbar-collapse {
        .navbar-right {
          li {
            padding: 10px 12px;
          }
        }
      }
    }
  }

  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}