body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

textarea, input {
  padding: 10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #686868; }

h2 {
  display: inline-block;
  font-size: 64px;
  color: #000; }
  h2 .underline {
    border-bottom: 2px solid black; }

h3 {
  font-size: 36px;
  color: #000000; }

.red-line {
  display: block;
  margin-top: 10px;
  width: 45px;
  height: 4px;
  background: #FF550F; }

.read-more-red {
  display: inline-block;
  width: 140px;
  height: 35px;
  background: #FF550F;
  border-radius: 133px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF; }

.read-more-red:hover {
  color: #FFFFFF; }

.load-more {
  display: inline-block;
  width: 393px;
  height: 60px;
  line-height: 60px;
  background: #5C5C5C;
  border-radius: 35px;
  font-size: 20px;
  color: #fff; }

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  transition: 0.3s; }
  .header .navbar .navbar-logo {
    line-height: 80px;
    color: #000;
    font-size: 24px; }
    .header .navbar .navbar-logo a:hover {
      color: #000; }
  .header .navbar form {
    display: inline-block;
    line-height: 80px;
    margin: 0 80px 0 80px; }
    .header .navbar form input {
      width: 230px;
      height: 50px;
      background: #FBFBFB;
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      border-radius: 70px;
      outline: none; }
  .header .navbar .nav {
    margin: 15px 0 15px 0; }
    .header .navbar .nav li a {
      font-size: 18px;
      color: #B1B1B1;
      transition: 0.3s; }
    .header .navbar .nav li a:hover {
      color: #FF550F;
      text-decoration: underline;
      background: none; }

.darkStaticHeader {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s; }
  .darkStaticHeader .navbar .navbar-logo {
    color: #fff; }
    .darkStaticHeader .navbar .navbar-logo a:hover {
      color: #fff; }

.hero {
  padding: 180px 0 100px 0; }
  .hero .hero-content {
    background: url("../img/hero-bg.png");
    background-size: 85% 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 50px 0 170px 0; }
    .hero .hero-content .inspiration {
      width: 392px;
      height: 330px;
      padding: 50px;
      background: #FFFFFF;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px; }
      .hero .hero-content .inspiration p {
        margin: 30px 0 30px 0;
        font-size: 16px;
        line-height: 20px;
        color: #8D8C8C; }

.section-3 .section-3-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .section-3 .section-3-flex-container .item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    padding: 0 60px 0 60px;
    width: 100%;
    height: 523px;
    margin-right: 20px;
    background: url("../img/Object.png");
    background-size: 100% 100%;
    box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
    border-radius: 3px; }
    .section-3 .section-3-flex-container .item-left h3 {
      font-size: 36px;
      color: #FFFFFF; }
    .section-3 .section-3-flex-container .item-left p {
      font-size: 20px;
      color: #FFFFFF;
      margin: 70px 0 20px 0;
      line-height: 26px; }
    .section-3 .section-3-flex-container .item-left a {
      display: inline-block;
      line-height: 40px;
      width: 100px;
      height: 40px;
      background: #FF550F;
      border-radius: 133px;
      color: #fff; }
  .section-3 .section-3-flex-container .item-right {
    width: 100%;
    height: 523px;
    margin-left: 20px;
    background: url("../img/everything.png");
    background-size: cover;
    box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
    border-radius: 3px; }

.section-4 .section-4-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .section-4 .section-4-flex-container .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    width: 360px;
    height: 300px;
    background-color: #0f0f0f;
    margin: 25px 0 25px 0;
    transition: 0.3s; }
    .section-4 .section-4-flex-container .item .content {
      display: none;
      background: rgba(0, 0, 0, 0.7);
      padding: 50px 35px 0 35px;
      height: 100%;
      transition: 0.3s; }
      .section-4 .section-4-flex-container .item .content h4 {
        font-size: 30px;
        text-align: center;
        color: #FFFFFF; }
      .section-4 .section-4-flex-container .item .content p {
        margin: 25px 0 25px 0;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF; }
  .section-4 .section-4-flex-container .item:hover .content {
    display: block; }
  .section-4 .section-4-flex-container #item-1 {
    background: url("../img/travelbus_2x.png");
    background-size: 100% 100%; }
  .section-4 .section-4-flex-container #item-2 {
    background: url("../img/boulder_badge.png");
    background-size: 100% 100%; }
  .section-4 .section-4-flex-container #item-3 {
    background: url("../img/artboard_16_copy.png");
    background-size: 100% 100%; }
  .section-4 .section-4-flex-container #item-4 {
    background: url("../img/travelbus_2x.png");
    background-size: 100% 100%; }
  .section-4 .section-4-flex-container #item-5 {
    background: url("../img/boulder_badge.png");
    background-size: 100% 100%; }
  .section-4 .section-4-flex-container #item-6 {
    background: url("../img/artboard_16_copy.png");
    background-size: 100% 100%; }

header {
  position: relative;
  padding: 5px 0 5px 0;
  background-color: #bdbdbd; }
  header .nav li {
    margin: 20px; }
    header .nav li a {
      color: #ffffff;
      font-size: 17px;
      padding: 5px;
      transition: 0.3s; }
    header .nav li a:hover {
      background-color: transparent;
      color: #000; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJib2R5IHtcbiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nLCBzYW5zLXNlcmlmOyB9XG5cbmEge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7IH1cblxuYTpob3ZlciB7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTsgfVxuXG50ZXh0YXJlYSwgaW5wdXQge1xuICBwYWRkaW5nOiAxMHB4O1xuICBmb250LWZhbWlseTogRm9udEF3ZXNvbWUsIFwiT3BlbiBTYW5zXCIsIFZlcmRhbmEsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbiAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcbiAgdGV4dC1kZWNvcmF0aW9uOiBpbmhlcml0O1xuICBmb250LXNpemU6IDE2cHg7XG4gIGNvbG9yOiAjNjg2ODY4OyB9XG5cbmgyIHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBmb250LXNpemU6IDY0cHg7XG4gIGNvbG9yOiAjMDAwOyB9XG4gIGgyIC51bmRlcmxpbmUge1xuICAgIGJvcmRlci1ib3R0b206IDJweCBzb2xpZCBibGFjazsgfVxuXG5oMyB7XG4gIGZvbnQtc2l6ZTogMzZweDtcbiAgY29sb3I6ICMwMDAwMDA7IH1cblxuLnJlZC1saW5lIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIG1hcmdpbi10b3A6IDEwcHg7XG4gIHdpZHRoOiA0NXB4O1xuICBoZWlnaHQ6IDRweDtcbiAgYmFja2dyb3VuZDogI0ZGNTUwRjsgfVxuXG4ucmVhZC1tb3JlLXJlZCB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgd2lkdGg6IDE0MHB4O1xuICBoZWlnaHQ6IDM1cHg7XG4gIGJhY2tncm91bmQ6ICNGRjU1MEY7XG4gIGJvcmRlci1yYWRpdXM6IDEzM3B4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGxpbmUtaGVpZ2h0OiAzNXB4O1xuICBmb250LXNpemU6IDE2cHg7XG4gIGNvbG9yOiAjRkZGRkZGOyB9XG5cbi5yZWFkLW1vcmUtcmVkOmhvdmVyIHtcbiAgY29sb3I6ICNGRkZGRkY7IH1cblxuLmxvYWQtbW9yZSB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgd2lkdGg6IDM5M3B4O1xuICBoZWlnaHQ6IDYwcHg7XG4gIGxpbmUtaGVpZ2h0OiA2MHB4O1xuICBiYWNrZ3JvdW5kOiAjNUM1QzVDO1xuICBib3JkZXItcmFkaXVzOiAzNXB4O1xuICBmb250LXNpemU6IDIwcHg7XG4gIGNvbG9yOiAjZmZmOyB9XG5cbi5oZWFkZXIge1xuICBwb3NpdGlvbjogZml4ZWQ7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDgwcHg7XG4gIHRyYW5zaXRpb246IDAuM3M7IH1cbiAgLmhlYWRlciAubmF2YmFyIC5uYXZiYXItbG9nbyB7XG4gICAgbGluZS1oZWlnaHQ6IDgwcHg7XG4gICAgY29sb3I6ICMwMDA7XG4gICAgZm9udC1zaXplOiAyNHB4OyB9XG4gICAgLmhlYWRlciAubmF2YmFyIC5uYXZiYXItbG9nbyBhOmhvdmVyIHtcbiAgICAgIGNvbG9yOiAjMDAwOyB9XG4gIC5oZWFkZXIgLm5hdmJhciBmb3JtIHtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgbGluZS1oZWlnaHQ6IDgwcHg7XG4gICAgbWFyZ2luOiAwIDgwcHggMCA4MHB4OyB9XG4gICAgLmhlYWRlciAubmF2YmFyIGZvcm0gaW5wdXQge1xuICAgICAgd2lkdGg6IDIzMHB4O1xuICAgICAgaGVpZ2h0OiA1MHB4O1xuICAgICAgYmFja2dyb3VuZDogI0ZCRkJGQjtcbiAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNERURFREU7XG4gICAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgICAgYm9yZGVyLXJhZGl1czogNzBweDtcbiAgICAgIG91dGxpbmU6IG5vbmU7IH1cbiAgLmhlYWRlciAubmF2YmFyIC5uYXYge1xuICAgIG1hcmdpbjogMTVweCAwIDE1cHggMDsgfVxuICAgIC5oZWFkZXIgLm5hdmJhciAubmF2IGxpIGEge1xuICAgICAgZm9udC1zaXplOiAxOHB4O1xuICAgICAgY29sb3I6ICNCMUIxQjE7XG4gICAgICB0cmFuc2l0aW9uOiAwLjNzOyB9XG4gICAgLmhlYWRlciAubmF2YmFyIC5uYXYgbGkgYTpob3ZlciB7XG4gICAgICBjb2xvcjogI0ZGNTUwRjtcbiAgICAgIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xuICAgICAgYmFja2dyb3VuZDogbm9uZTsgfVxuXG4uZGFya1N0YXRpY0hlYWRlciB7XG4gIGJhY2tncm91bmQ6IHJnYmEoMCwgMCwgMCwgMC43KTtcbiAgdHJhbnNpdGlvbjogMC4zczsgfVxuICAuZGFya1N0YXRpY0hlYWRlciAubmF2YmFyIC5uYXZiYXItbG9nbyB7XG4gICAgY29sb3I6ICNmZmY7IH1cbiAgICAuZGFya1N0YXRpY0hlYWRlciAubmF2YmFyIC5uYXZiYXItbG9nbyBhOmhvdmVyIHtcbiAgICAgIGNvbG9yOiAjZmZmOyB9XG5cbi5oZXJvIHtcbiAgcGFkZGluZzogMTgwcHggMCAxMDBweCAwOyB9XG4gIC5oZXJvIC5oZXJvLWNvbnRlbnQge1xuICAgIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9oZXJvLWJnLnBuZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDg1JSAxMDAlO1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IHJpZ2h0O1xuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gICAgcGFkZGluZzogNTBweCAwIDE3MHB4IDA7IH1cbiAgICAuaGVybyAuaGVyby1jb250ZW50IC5pbnNwaXJhdGlvbiB7XG4gICAgICB3aWR0aDogMzkycHg7XG4gICAgICBoZWlnaHQ6IDMzMHB4O1xuICAgICAgcGFkZGluZzogNTBweDtcbiAgICAgIGJhY2tncm91bmQ6ICNGRkZGRkY7XG4gICAgICBib3gtc2hhZG93OiAwcHggMnB4IDQwcHggcmdiYSgyMDgsIDIwOCwgMjA4LCAwLjUpO1xuICAgICAgYm9yZGVyLXJhZGl1czogM3B4OyB9XG4gICAgICAuaGVybyAuaGVyby1jb250ZW50IC5pbnNwaXJhdGlvbiBwIHtcbiAgICAgICAgbWFyZ2luOiAzMHB4IDAgMzBweCAwO1xuICAgICAgICBmb250LXNpemU6IDE2cHg7XG4gICAgICAgIGxpbmUtaGVpZ2h0OiAyMHB4O1xuICAgICAgICBjb2xvcjogIzhEOEM4QzsgfVxuXG4uc2VjdGlvbi0zIC5zZWN0aW9uLTMtZmxleC1jb250YWluZXIge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47IH1cbiAgLnNlY3Rpb24tMyAuc2VjdGlvbi0zLWZsZXgtY29udGFpbmVyIC5pdGVtLWxlZnQge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG4gICAgcGFkZGluZzogMCA2MHB4IDAgNjBweDtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDUyM3B4O1xuICAgIG1hcmdpbi1yaWdodDogMjBweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvT2JqZWN0LnBuZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDEwMCUgMTAwJTtcbiAgICBib3gtc2hhZG93OiAwcHggMnB4IDQwcHggcmdiYSgyMDgsIDIwOCwgMjA4LCAwLjUpO1xuICAgIGJvcmRlci1yYWRpdXM6IDNweDsgfVxuICAgIC5zZWN0aW9uLTMgLnNlY3Rpb24tMy1mbGV4LWNvbnRhaW5lciAuaXRlbS1sZWZ0IGgzIHtcbiAgICAgIGZvbnQtc2l6ZTogMzZweDtcbiAgICAgIGNvbG9yOiAjRkZGRkZGOyB9XG4gICAgLnNlY3Rpb24tMyAuc2VjdGlvbi0zLWZsZXgtY29udGFpbmVyIC5pdGVtLWxlZnQgcCB7XG4gICAgICBmb250LXNpemU6IDIwcHg7XG4gICAgICBjb2xvcjogI0ZGRkZGRjtcbiAgICAgIG1hcmdpbjogNzBweCAwIDIwcHggMDtcbiAgICAgIGxpbmUtaGVpZ2h0OiAyNnB4OyB9XG4gICAgLnNlY3Rpb24tMyAuc2VjdGlvbi0zLWZsZXgtY29udGFpbmVyIC5pdGVtLWxlZnQgYSB7XG4gICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICBsaW5lLWhlaWdodDogNDBweDtcbiAgICAgIHdpZHRoOiAxMDBweDtcbiAgICAgIGhlaWdodDogNDBweDtcbiAgICAgIGJhY2tncm91bmQ6ICNGRjU1MEY7XG4gICAgICBib3JkZXItcmFkaXVzOiAxMzNweDtcbiAgICAgIGNvbG9yOiAjZmZmOyB9XG4gIC5zZWN0aW9uLTMgLnNlY3Rpb24tMy1mbGV4LWNvbnRhaW5lciAuaXRlbS1yaWdodCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiA1MjNweDtcbiAgICBtYXJnaW4tbGVmdDogMjBweDtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvZXZlcnl0aGluZy5wbmdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBib3gtc2hhZG93OiAwcHggMnB4IDQwcHggcmdiYSgyMDgsIDIwOCwgMjA4LCAwLjUpO1xuICAgIGJvcmRlci1yYWRpdXM6IDNweDsgfVxuXG4uc2VjdGlvbi00IC5zZWN0aW9uLTQtZmxleC1jb250YWluZXIge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gIGZsZXgtd3JhcDogd3JhcDsgfVxuICAuc2VjdGlvbi00IC5zZWN0aW9uLTQtZmxleC1jb250YWluZXIgLml0ZW0ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG4gICAgd2lkdGg6IDM2MHB4O1xuICAgIGhlaWdodDogMzAwcHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzBmMGYwZjtcbiAgICBtYXJnaW46IDI1cHggMCAyNXB4IDA7XG4gICAgdHJhbnNpdGlvbjogMC4zczsgfVxuICAgIC5zZWN0aW9uLTQgLnNlY3Rpb24tNC1mbGV4LWNvbnRhaW5lciAuaXRlbSAuY29udGVudCB7XG4gICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgYmFja2dyb3VuZDogcmdiYSgwLCAwLCAwLCAwLjcpO1xuICAgICAgcGFkZGluZzogNTBweCAzNXB4IDAgMzVweDtcbiAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgIHRyYW5zaXRpb246IDAuM3M7IH1cbiAgICAgIC5zZWN0aW9uLTQgLnNlY3Rpb24tNC1mbGV4LWNvbnRhaW5lciAuaXRlbSAuY29udGVudCBoNCB7XG4gICAgICAgIGZvbnQtc2l6ZTogMzBweDtcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICBjb2xvcjogI0ZGRkZGRjsgfVxuICAgICAgLnNlY3Rpb24tNCAuc2VjdGlvbi00LWZsZXgtY29udGFpbmVyIC5pdGVtIC5jb250ZW50IHAge1xuICAgICAgICBtYXJnaW46IDI1cHggMCAyNXB4IDA7XG4gICAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDE4cHg7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgICAgY29sb3I6ICNGRkZGRkY7IH1cbiAgLnNlY3Rpb24tNCAuc2VjdGlvbi00LWZsZXgtY29udGFpbmVyIC5pdGVtOmhvdmVyIC5jb250ZW50IHtcbiAgICBkaXNwbGF5OiBibG9jazsgfVxuICAuc2VjdGlvbi00IC5zZWN0aW9uLTQtZmxleC1jb250YWluZXIgI2l0ZW0tMSB7XG4gICAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL3RyYXZlbGJ1c18yeC5wbmdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiAxMDAlIDEwMCU7IH1cbiAgLnNlY3Rpb24tNCAuc2VjdGlvbi00LWZsZXgtY29udGFpbmVyICNpdGVtLTIge1xuICAgIGJhY2tncm91bmQ6IHVybChcIi4uL2ltZy9ib3VsZGVyX2JhZGdlLnBuZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDEwMCUgMTAwJTsgfVxuICAuc2VjdGlvbi00IC5zZWN0aW9uLTQtZmxleC1jb250YWluZXIgI2l0ZW0tMyB7XG4gICAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL2FydGJvYXJkXzE2X2NvcHkucG5nXCIpO1xuICAgIGJhY2tncm91bmQtc2l6ZTogMTAwJSAxMDAlOyB9XG4gIC5zZWN0aW9uLTQgLnNlY3Rpb24tNC1mbGV4LWNvbnRhaW5lciAjaXRlbS00IHtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvdHJhdmVsYnVzXzJ4LnBuZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IDEwMCUgMTAwJTsgfVxuICAuc2VjdGlvbi00IC5zZWN0aW9uLTQtZmxleC1jb250YWluZXIgI2l0ZW0tNSB7XG4gICAgYmFja2dyb3VuZDogdXJsKFwiLi4vaW1nL2JvdWxkZXJfYmFkZ2UucG5nXCIpO1xuICAgIGJhY2tncm91bmQtc2l6ZTogMTAwJSAxMDAlOyB9XG4gIC5zZWN0aW9uLTQgLnNlY3Rpb24tNC1mbGV4LWNvbnRhaW5lciAjaXRlbS02IHtcbiAgICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvYXJ0Ym9hcmRfMTZfY29weS5wbmdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiAxMDAlIDEwMCU7IH1cblxuaGVhZGVyIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBwYWRkaW5nOiA1cHggMCA1cHggMDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2JkYmRiZDsgfVxuICBoZWFkZXIgLm5hdiBsaSB7XG4gICAgbWFyZ2luOiAyMHB4OyB9XG4gICAgaGVhZGVyIC5uYXYgbGkgYSB7XG4gICAgICBjb2xvcjogI2ZmZmZmZjtcbiAgICAgIGZvbnQtc2l6ZTogMTdweDtcbiAgICAgIHBhZGRpbmc6IDVweDtcbiAgICAgIHRyYW5zaXRpb246IDAuM3M7IH1cbiAgICBoZWFkZXIgLm5hdiBsaSBhOmhvdmVyIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xuICAgICAgY29sb3I6ICMwMDA7IH1cbiJdLCJmaWxlIjoibWFpbi5jc3MifQ== */
