body{
  font-family: 'Roboto', sans-serif;
}

.background-container{
  background-color: #FBFBFB;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
textarea, input {
  padding:10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #686868;
}

h2{
  display: inline-block;
  font-size: 64px;
  color: #000;
  .underline{
    border-bottom: 2px solid black;
  }
}
h3{
  font-size: 36px;
  color: #000000;
}
.red-line{
  display: block;
  margin-top: 10px;
  width: 45px;
  height: 4px;
  background: #FF550F;
}


.read-more-red{
  display: inline-block;
  width: 140px;
  height: 35px;
  background: #FF550F;
  border-radius: 133px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF;
}
.read-more-red:hover{
  color: #FFFFFF;
}

.load-more-container{
  .load-more{
    position: relative;
    top:-50px;
    display: inline-block;
    width: 393px;
    height: 60px;
    line-height: 60px;
    background: #5C5C5C;
    border-radius: 35px;
    font-size: 20px;
    color: #fff;
  }
  .load-more:hover{
    color: #fff;
  }
}



.header{
  position: fixed;
  width: 100%;
  height: 80px;
  transition: 0.3s;
  z-index: 3;
  .navbar{
    .navbar-logo{
      line-height: 80px;
      color: #000;
      font-size: 24px;
      a:hover{
        color: #000;
      }
    }
    form {
      display: inline-block;
      line-height: 80px;
      margin: 0 80px 0 80px;
      input {
        width: 230px;
        height: 50px;
        background: #FBFBFB;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 70px;
        outline: none;
      }
    }
    .nav{
      margin: 15px 0 15px 0;
      li{
        a{
          font-size: 18px;
          color: #B1B1B1;
          transition: 0.3s;
        }
        a:hover{
          color: #FF550F;
          text-decoration: underline;
          background: none;
        }
      }
    }
  }
}
.darkStaticHeader{
  background: rgba(0,0,0, 0.7);
  transition: 0.3s;
  z-index: 3;

  .navbar{
    .navbar-logo{
      color: #fff;
      a:hover{
        color: #fff;
      }
    }
  }
}



