body {
  font-family: 'Roboto', sans-serif; }

a:hover {
  color: #000; }

.callme {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 16px 40px 16px 40px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border-radius: 30px; }

.callme:hover {
  text-decoration: none;
  background: #E5C424; }

.callme-mobile {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 16px 15px 16px 15px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border: 3px solid #4E4E4E;
  border-radius: 30px; }

.callme-mobile:hover {
  text-decoration: none;
  background: #E5C424; }

.callme-light:hover {
  text-decoration: none;
  background: #E5C424; }

.callme-light {
  display: inline-block;
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  width: 240px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border: 3px solid #F4F4F4;
  border-radius: 30px; }

.callme-light:hover {
  text-decoration: none;
  background: #E5C424; }

.zamershik {
  display: inline-block;
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  width: 240px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border: 3px solid #F4F4F4;
  border-radius: 30px; }

.zamershik:hover {
  text-decoration: none;
  background: #E5C424; }

.wherebuy {
  display: inline-block;
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  width: 240px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border: 3px solid #F4F4F4;
  border-radius: 30px; }

.wherebuy:hover {
  text-decoration: none;
  background: #E5C424; }

.tocart {
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 0 16px 0;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  width: 240px;
  background: linear-gradient(270deg, #E5DD24 0%, #D9D12A 104.37%);
  border: 3px solid #F4F4F4;
  border-radius: 30px; }

.tocart:hover {
  text-decoration: none;
  background: #E5C424; }

.carousel .carousel-control i {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  color: #515151;
  font-size: 16px;
  border-radius: 50%;
  background: #C4C4C4;
  transition: 0.3s; }

.carousel .carousel-control i:hover {
  background: #323232;
  color: #E5DD24; }

.carousel .left i {
  padding: 12px 16px 12px 13px;
  left: 25%;
  margin-left: -10px; }

.carousel .right i {
  padding: 12px 13px 12px 16px;
  right: 25%;
  margin-right: -10px; }

.free-zamershik img {
  position: relative;
  bottom: 4px;
  padding-right: 20px; }

.free-zamershik p {
  font-size: 18px;
  color: #797979; }

.section-title {
  font-size: 36px;
  margin: 40px 0 40px 0; }

.saleprice {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 95px;
  border-radius: 50%;
  background: #EB5D5D;
  color: white;
  display: inline-block;
  font-size: 23px;
  line-height: 60px; }

header {
  position: relative;
  padding: 37px 0 37px 0;
  background: #323232; }

.hero {
  padding: 50px 0 30px 0; }
  .hero .items-btns {
    margin: 60px 0 0 0; }
  .hero .free-zamershik {
    margin: 60px 0 0 0; }

.sales {
  position: relative;
  padding: 0 0 35px 0;
  background: #eaeaea; }
  .sales .items {
    margin: 50px 0 50px 0; }
  .sales .win-type {
    text-align: center;
    width: 345px;
    display: inline-block; }
    .sales .win-type .win-img {
      padding: 45px;
      background: #E5E5E5;
      overflow: visible;
      height: 380px; }
      .sales .win-type .win-img img {
        display: inline-block; }
    .sales .win-type .price {
      margin: 35px 0 25px 0; }
      .sales .win-type .price .old-prise {
        position: relative;
        bottom: 3px;
        display: inline-block;
        width: 43%;
        font-size: 24px;
        text-decoration: line-through;
        color: #818181; }
      .sales .win-type .price .new-prise {
        display: inline-block;
        width: 50%;
        font-weight: bold;
        line-height: normal;
        font-size: 28px;
        color: #FD4E11; }
      .sales .win-type .price .balckonFix {
        position: relative;
        left: 20px; }
    .sales .win-type .item-to-cart {
      margin: 50px 0 40px 0; }
    .sales .win-type img {
      display: inline-block; }
  .sales .win-type:hover {
    background: #D4D4D4; }
    .sales .win-type:hover .win-img {
      background: inherit; }
    .sales .win-type:hover a {
      background: #E5C424; }
  .sales .wide {
    width: 390px;
    margin: 0 20px 0 20px; }
    .sales .wide .saleprice {
      margin-left: 120px; }
    .sales .wide img {
      height: 100%; }

.advantages {
  position: relative;
  padding: 0 0 50px 0; }
  .advantages .advantage {
    padding-top: 70px;
    padding-bottom: 130px;
    margin: 0 15px 0 15px;
    background: #F2F2F2;
    border-radius: 3px;
    transition: 0.1s; }
    .advantages .advantage p {
      margin-top: 50px;
      font-size: 24px; }
  .advantages .advantage:hover {
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.19);
    border-radius: 3px; }

.contact-us {
  background: #EAEAEA; }
  .contact-us .items-btns {
    margin-top: 5px;
    margin-bottom: 55px; }

.loyal-level {
  padding: 50px 0 50px 0; }

footer {
  position: relative;
  padding: 60px 0 60px 0;
  background: #323232; }

.carousel img {
  min-width: 100%; }

@media screen and (max-width: 1024px) {
  #hidden {
    display: none; } }

@media screen and (max-width: 768px) {
  .saleprice {
    display: none; }
  .callme-light, .zamershik, .wherebuy, .tocart {
    width: 200px; }
  .callme-light, .zamershik, .wherebuy, .tocart:hover {
    text-decoration: none;
    background: #E5C424; }
  .hero {
    margin: 0;
    padding: 50px 0 50px 0; }
    .hero .items {
      margin: 0; }
      .hero .items .item {
        margin: 25px 0 0 0; }
  .sales {
    padding-bottom: 0; }
    .sales .item-small {
      margin: 25px 0 80px 0; }
    .sales .win-type {
      max-width: 46%; }
  .advantages .advantage {
    margin: 0;
    padding-bottom: 70px; } }

@media screen and (max-width: 640px) {
  .callme-light, .zamershik, .wherebuy, .tocart {
    width: 100%;
    margin: 12px 0 12px 0; }
  #hidden {
    display: inline-block; }
  .carousel img {
    min-width: 100%; }
  .sales {
    padding-bottom: 0; }
    .sales .section-title {
      font-size: 24px; }
    .sales .item-small {
      margin: 25px 0 80px 0; }
    .sales .win-type {
      max-width: 90%; }
  .advantages .advantage {
    margin: 14px 0 14px 0;
    padding-left: 40px;
    padding-right: 40px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJib2R5IHtcbiAgZm9udC1mYW1pbHk6ICdSb2JvdG8nLCBzYW5zLXNlcmlmOyB9XG5cbmE6aG92ZXIge1xuICBjb2xvcjogIzAwMDsgfVxuXG4uY2FsbG1lIHtcbiAgZm9udC1zaXplOiAxOHB4O1xuICBjb2xvcjogIzAwMDAwMDtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICBwYWRkaW5nOiAxNnB4IDQwcHggMTZweCA0MHB4O1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoMjcwZGVnLCAjRTVERDI0IDAlLCAjRDlEMTJBIDEwNC4zNyUpO1xuICBib3JkZXItcmFkaXVzOiAzMHB4OyB9XG5cbi5jYWxsbWU6aG92ZXIge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIGJhY2tncm91bmQ6ICNFNUM0MjQ7IH1cblxuLmNhbGxtZS1tb2JpbGUge1xuICBmb250LXNpemU6IDE4cHg7XG4gIGNvbG9yOiAjMDAwMDAwO1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIHBhZGRpbmc6IDE2cHggMTVweCAxNnB4IDE1cHg7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgyNzBkZWcsICNFNUREMjQgMCUsICNEOUQxMkEgMTA0LjM3JSk7XG4gIGJvcmRlcjogM3B4IHNvbGlkICM0RTRFNEU7XG4gIGJvcmRlci1yYWRpdXM6IDMwcHg7IH1cblxuLmNhbGxtZS1tb2JpbGU6aG92ZXIge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIGJhY2tncm91bmQ6ICNFNUM0MjQ7IH1cblxuLmNhbGxtZS1saWdodDpob3ZlciB7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgYmFja2dyb3VuZDogI0U1QzQyNDsgfVxuXG4uY2FsbG1lLWxpZ2h0IHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBwYWRkaW5nOiAxNnB4IDAgMTZweCAwO1xuICBmb250LXNpemU6IDE4cHg7XG4gIGNvbG9yOiAjMDAwMDAwO1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIHdpZHRoOiAyNDBweDtcbiAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDI3MGRlZywgI0U1REQyNCAwJSwgI0Q5RDEyQSAxMDQuMzclKTtcbiAgYm9yZGVyOiAzcHggc29saWQgI0Y0RjRGNDtcbiAgYm9yZGVyLXJhZGl1czogMzBweDsgfVxuXG4uY2FsbG1lLWxpZ2h0OmhvdmVyIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICBiYWNrZ3JvdW5kOiAjRTVDNDI0OyB9XG5cbi56YW1lcnNoaWsge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIHBhZGRpbmc6IDE2cHggMCAxNnB4IDA7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgY29sb3I6ICMwMDAwMDA7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgd2lkdGg6IDI0MHB4O1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoMjcwZGVnLCAjRTVERDI0IDAlLCAjRDlEMTJBIDEwNC4zNyUpO1xuICBib3JkZXI6IDNweCBzb2xpZCAjRjRGNEY0O1xuICBib3JkZXItcmFkaXVzOiAzMHB4OyB9XG5cbi56YW1lcnNoaWs6aG92ZXIge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIGJhY2tncm91bmQ6ICNFNUM0MjQ7IH1cblxuLndoZXJlYnV5IHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBwYWRkaW5nOiAxNnB4IDAgMTZweCAwO1xuICBmb250LXNpemU6IDE4cHg7XG4gIGNvbG9yOiAjMDAwMDAwO1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIHdpZHRoOiAyNDBweDtcbiAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDI3MGRlZywgI0U1REQyNCAwJSwgI0Q5RDEyQSAxMDQuMzclKTtcbiAgYm9yZGVyOiAzcHggc29saWQgI0Y0RjRGNDtcbiAgYm9yZGVyLXJhZGl1czogMzBweDsgfVxuXG4ud2hlcmVidXk6aG92ZXIge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gIGJhY2tncm91bmQ6ICNFNUM0MjQ7IH1cblxuLnRvY2FydCB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgcGFkZGluZzogMTZweCAwIDE2cHggMDtcbiAgZm9udC1zaXplOiAxOHB4O1xuICBjb2xvcjogIzAwMDAwMDtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICB3aWR0aDogMjQwcHg7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgyNzBkZWcsICNFNUREMjQgMCUsICNEOUQxMkEgMTA0LjM3JSk7XG4gIGJvcmRlcjogM3B4IHNvbGlkICNGNEY0RjQ7XG4gIGJvcmRlci1yYWRpdXM6IDMwcHg7IH1cblxuLnRvY2FydDpob3ZlciB7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgYmFja2dyb3VuZDogI0U1QzQyNDsgfVxuXG4uY2Fyb3VzZWwgLmNhcm91c2VsLWNvbnRyb2wgaSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiA1MCU7XG4gIHotaW5kZXg6IDU7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgbWFyZ2luLXRvcDogLTEwcHg7XG4gIGNvbG9yOiAjNTE1MTUxO1xuICBmb250LXNpemU6IDE2cHg7XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgYmFja2dyb3VuZDogI0M0QzRDNDtcbiAgdHJhbnNpdGlvbjogMC4zczsgfVxuXG4uY2Fyb3VzZWwgLmNhcm91c2VsLWNvbnRyb2wgaTpob3ZlciB7XG4gIGJhY2tncm91bmQ6ICMzMjMyMzI7XG4gIGNvbG9yOiAjRTVERDI0OyB9XG5cbi5jYXJvdXNlbCAubGVmdCBpIHtcbiAgcGFkZGluZzogMTJweCAxNnB4IDEycHggMTNweDtcbiAgbGVmdDogMjUlO1xuICBtYXJnaW4tbGVmdDogLTEwcHg7IH1cblxuLmNhcm91c2VsIC5yaWdodCBpIHtcbiAgcGFkZGluZzogMTJweCAxM3B4IDEycHggMTZweDtcbiAgcmlnaHQ6IDI1JTtcbiAgbWFyZ2luLXJpZ2h0OiAtMTBweDsgfVxuXG4uZnJlZS16YW1lcnNoaWsgaW1nIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBib3R0b206IDRweDtcbiAgcGFkZGluZy1yaWdodDogMjBweDsgfVxuXG4uZnJlZS16YW1lcnNoaWsgcCB7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgY29sb3I6ICM3OTc5Nzk7IH1cblxuLnNlY3Rpb24tdGl0bGUge1xuICBmb250LXNpemU6IDM2cHg7XG4gIG1hcmdpbjogNDBweCAwIDQwcHggMDsgfVxuXG4uc2FsZXByaWNlIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB3aWR0aDogNjBweDtcbiAgaGVpZ2h0OiA2MHB4O1xuICBtYXJnaW4tdG9wOiAyMHB4O1xuICBtYXJnaW4tbGVmdDogOTVweDtcbiAgYm9yZGVyLXJhZGl1czogNTAlO1xuICBiYWNrZ3JvdW5kOiAjRUI1RDVEO1xuICBjb2xvcjogd2hpdGU7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgZm9udC1zaXplOiAyM3B4O1xuICBsaW5lLWhlaWdodDogNjBweDsgfVxuXG5oZWFkZXIge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBhZGRpbmc6IDM3cHggMCAzN3B4IDA7XG4gIGJhY2tncm91bmQ6ICMzMjMyMzI7IH1cblxuLmhlcm8ge1xuICBwYWRkaW5nOiA1MHB4IDAgMzBweCAwOyB9XG4gIC5oZXJvIC5pdGVtcy1idG5zIHtcbiAgICBtYXJnaW46IDYwcHggMCAwIDA7IH1cbiAgLmhlcm8gLmZyZWUtemFtZXJzaGlrIHtcbiAgICBtYXJnaW46IDYwcHggMCAwIDA7IH1cblxuLnNhbGVzIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBwYWRkaW5nOiAwIDAgMzVweCAwO1xuICBiYWNrZ3JvdW5kOiAjZWFlYWVhOyB9XG4gIC5zYWxlcyAuaXRlbXMge1xuICAgIG1hcmdpbjogNTBweCAwIDUwcHggMDsgfVxuICAuc2FsZXMgLndpbi10eXBlIHtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgd2lkdGg6IDM0NXB4O1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfVxuICAgIC5zYWxlcyAud2luLXR5cGUgLndpbi1pbWcge1xuICAgICAgcGFkZGluZzogNDVweDtcbiAgICAgIGJhY2tncm91bmQ6ICNFNUU1RTU7XG4gICAgICBvdmVyZmxvdzogdmlzaWJsZTtcbiAgICAgIGhlaWdodDogMzgwcHg7IH1cbiAgICAgIC5zYWxlcyAud2luLXR5cGUgLndpbi1pbWcgaW1nIHtcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrOyB9XG4gICAgLnNhbGVzIC53aW4tdHlwZSAucHJpY2Uge1xuICAgICAgbWFyZ2luOiAzNXB4IDAgMjVweCAwOyB9XG4gICAgICAuc2FsZXMgLndpbi10eXBlIC5wcmljZSAub2xkLXByaXNlIHtcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICBib3R0b206IDNweDtcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgICAgICB3aWR0aDogNDMlO1xuICAgICAgICBmb250LXNpemU6IDI0cHg7XG4gICAgICAgIHRleHQtZGVjb3JhdGlvbjogbGluZS10aHJvdWdoO1xuICAgICAgICBjb2xvcjogIzgxODE4MTsgfVxuICAgICAgLnNhbGVzIC53aW4tdHlwZSAucHJpY2UgLm5ldy1wcmlzZSB7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgd2lkdGg6IDUwJTtcbiAgICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgICAgIGxpbmUtaGVpZ2h0OiBub3JtYWw7XG4gICAgICAgIGZvbnQtc2l6ZTogMjhweDtcbiAgICAgICAgY29sb3I6ICNGRDRFMTE7IH1cbiAgICAgIC5zYWxlcyAud2luLXR5cGUgLnByaWNlIC5iYWxja29uRml4IHtcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICBsZWZ0OiAyMHB4OyB9XG4gICAgLnNhbGVzIC53aW4tdHlwZSAuaXRlbS10by1jYXJ0IHtcbiAgICAgIG1hcmdpbjogNTBweCAwIDQwcHggMDsgfVxuICAgIC5zYWxlcyAud2luLXR5cGUgaW1nIHtcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfVxuICAuc2FsZXMgLndpbi10eXBlOmhvdmVyIHtcbiAgICBiYWNrZ3JvdW5kOiAjRDRENEQ0OyB9XG4gICAgLnNhbGVzIC53aW4tdHlwZTpob3ZlciAud2luLWltZyB7XG4gICAgICBiYWNrZ3JvdW5kOiBpbmhlcml0OyB9XG4gICAgLnNhbGVzIC53aW4tdHlwZTpob3ZlciBhIHtcbiAgICAgIGJhY2tncm91bmQ6ICNFNUM0MjQ7IH1cbiAgLnNhbGVzIC53aWRlIHtcbiAgICB3aWR0aDogMzkwcHg7XG4gICAgbWFyZ2luOiAwIDIwcHggMCAyMHB4OyB9XG4gICAgLnNhbGVzIC53aWRlIC5zYWxlcHJpY2Uge1xuICAgICAgbWFyZ2luLWxlZnQ6IDEyMHB4OyB9XG4gICAgLnNhbGVzIC53aWRlIGltZyB7XG4gICAgICBoZWlnaHQ6IDEwMCU7IH1cblxuLmFkdmFudGFnZXMge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBhZGRpbmc6IDAgMCA1MHB4IDA7IH1cbiAgLmFkdmFudGFnZXMgLmFkdmFudGFnZSB7XG4gICAgcGFkZGluZy10b3A6IDcwcHg7XG4gICAgcGFkZGluZy1ib3R0b206IDEzMHB4O1xuICAgIG1hcmdpbjogMCAxNXB4IDAgMTVweDtcbiAgICBiYWNrZ3JvdW5kOiAjRjJGMkYyO1xuICAgIGJvcmRlci1yYWRpdXM6IDNweDtcbiAgICB0cmFuc2l0aW9uOiAwLjFzOyB9XG4gICAgLmFkdmFudGFnZXMgLmFkdmFudGFnZSBwIHtcbiAgICAgIG1hcmdpbi10b3A6IDUwcHg7XG4gICAgICBmb250LXNpemU6IDI0cHg7IH1cbiAgLmFkdmFudGFnZXMgLmFkdmFudGFnZTpob3ZlciB7XG4gICAgYm94LXNoYWRvdzogMHB4IDRweCAyNnB4IHJnYmEoMCwgMCwgMCwgMC4xOSk7XG4gICAgYm9yZGVyLXJhZGl1czogM3B4OyB9XG5cbi5jb250YWN0LXVzIHtcbiAgYmFja2dyb3VuZDogI0VBRUFFQTsgfVxuICAuY29udGFjdC11cyAuaXRlbXMtYnRucyB7XG4gICAgbWFyZ2luLXRvcDogNXB4O1xuICAgIG1hcmdpbi1ib3R0b206IDU1cHg7IH1cblxuLmxveWFsLWxldmVsIHtcbiAgcGFkZGluZzogNTBweCAwIDUwcHggMDsgfVxuXG5mb290ZXIge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBhZGRpbmc6IDYwcHggMCA2MHB4IDA7XG4gIGJhY2tncm91bmQ6ICMzMjMyMzI7IH1cblxuLmNhcm91c2VsIGltZyB7XG4gIG1pbi13aWR0aDogMTAwJTsgfVxuXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiAxMDI0cHgpIHtcbiAgI2hpZGRlbiB7XG4gICAgZGlzcGxheTogbm9uZTsgfSB9XG5cbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDc2OHB4KSB7XG4gIC5zYWxlcHJpY2Uge1xuICAgIGRpc3BsYXk6IG5vbmU7IH1cbiAgLmNhbGxtZS1saWdodCwgLnphbWVyc2hpaywgLndoZXJlYnV5LCAudG9jYXJ0IHtcbiAgICB3aWR0aDogMjAwcHg7IH1cbiAgLmNhbGxtZS1saWdodCwgLnphbWVyc2hpaywgLndoZXJlYnV5LCAudG9jYXJ0OmhvdmVyIHtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgYmFja2dyb3VuZDogI0U1QzQyNDsgfVxuICAuaGVybyB7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDUwcHggMCA1MHB4IDA7IH1cbiAgICAuaGVybyAuaXRlbXMge1xuICAgICAgbWFyZ2luOiAwOyB9XG4gICAgICAuaGVybyAuaXRlbXMgLml0ZW0ge1xuICAgICAgICBtYXJnaW46IDI1cHggMCAwIDA7IH1cbiAgLnNhbGVzIHtcbiAgICBwYWRkaW5nLWJvdHRvbTogMDsgfVxuICAgIC5zYWxlcyAuaXRlbS1zbWFsbCB7XG4gICAgICBtYXJnaW46IDI1cHggMCA4MHB4IDA7IH1cbiAgICAuc2FsZXMgLndpbi10eXBlIHtcbiAgICAgIG1heC13aWR0aDogNDYlOyB9XG4gIC5hZHZhbnRhZ2VzIC5hZHZhbnRhZ2Uge1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNzBweDsgfSB9XG5cbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDY0MHB4KSB7XG4gIC5jYWxsbWUtbGlnaHQsIC56YW1lcnNoaWssIC53aGVyZWJ1eSwgLnRvY2FydCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgbWFyZ2luOiAxMnB4IDAgMTJweCAwOyB9XG4gICNoaWRkZW4ge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfVxuICAuY2Fyb3VzZWwgaW1nIHtcbiAgICBtaW4td2lkdGg6IDEwMCU7IH1cbiAgLnNhbGVzIHtcbiAgICBwYWRkaW5nLWJvdHRvbTogMDsgfVxuICAgIC5zYWxlcyAuc2VjdGlvbi10aXRsZSB7XG4gICAgICBmb250LXNpemU6IDI0cHg7IH1cbiAgICAuc2FsZXMgLml0ZW0tc21hbGwge1xuICAgICAgbWFyZ2luOiAyNXB4IDAgODBweCAwOyB9XG4gICAgLnNhbGVzIC53aW4tdHlwZSB7XG4gICAgICBtYXgtd2lkdGg6IDkwJTsgfVxuICAuYWR2YW50YWdlcyAuYWR2YW50YWdlIHtcbiAgICBtYXJnaW46IDE0cHggMCAxNHB4IDA7XG4gICAgcGFkZGluZy1sZWZ0OiA0MHB4O1xuICAgIHBhZGRpbmctcmlnaHQ6IDQwcHg7IH0gfVxuIl0sImZpbGUiOiJtYWluLmNzcyJ9 */
