/*components*/
.section-title {
  display: inline-block;
  color: #5f6060;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

svg{
  fill: currentColor;
}

.red-line {
  position: relative;
  left: 2px;
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: #f4170e;
  color: #f4170e;
  margin: 10px 4px 10px 4px;

}

.logo{
  display: inline-block;
  width: 0;
  float:left;
  padding: 21px 0 20px 0;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  color: #000;
}
.open-logo{
  position: relative;
  width: 140px;
  padding: 21px 25px 20px 25px ;
}

.info {
  display: inline-block;
  float: right;
  height: 5px;

  svg{

    fill: #ADBABF;
  }
}
.info svg:hover{
    fill: #000;
  opacity: 0.8;
}

.status-line{
  position: absolute;
  display: inline-block;
  height: 100px;
  width: 3px;
  border:none;
  border-left: 3px solid red;

}


.sidebar-left-open-shadow {
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.24);
}

/*components*/




/*ToolTips*/

a.tooltips-bottom {
  position: relative;
  display: inline;
}
a.tooltips-bottom span {
  opacity: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #000000;
  height: 40px;
  line-height: 40px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  z-index: 2000;

}
a.tooltips-bottom span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips-bottom span {
  visibility: visible;
  opacity: 0.8;
  bottom: 20px;
  left: 50%;
  margin-left: -70px;
}

a.tooltips-right {
  position: relative;
  display: inline;
}
a.tooltips-right i {
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -20px;
  margin-left: 15px;
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #2A2A2A;
  height: 40px;
  line-height: 40px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
}
a.tooltips-right i:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #2A2A2A;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips-right i {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -20px;
  margin-left: 15px;
}
/*ToolTips*/


.close-item-left {
  width: 0;
}

.open-item-left {
  width: 140px;

}

.toggle-down {
  transform: rotate(0deg);
  transform-origin: 15% 40%;
}


.toggle-up {
  transform: rotate(90deg);
  transform-origin: 15% 50%;
}


.ui-state-highlight-1 {opacity: 0.3; height: 130px;  margin: 20px 0 20px 0; border: 1px dashed #000000; border-radius: 3px; }
.sortable-chosen { height: 130px;  margin: 20px 0 20px 0;  border-radius: 3px; }

.ui-state-highlight { height: 30px;  margin-top: 15px; border: 1px dashed #878787; border-radius: 3px;}


.datepickerair{
  background: #F2F0F0;
  background-image: url("../img/Shape Copydown.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) calc(100% - 15px);
  width: 120px;
  min-width: 120px;
  border-radius: 30px;
  font-size: 14px;
  color: #262626;
  margin: 0 15px 0 15px;
  padding: 8px 30px 8px 15px;
  border: none;
outline: none;
  transition: 0.3s;
}
.datepickerair:hover{
  background: #e7e7e7;
  background-image: url("../img/Shape Copydown.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) calc(100% - 15px);
}
.left{
  position: relative;
  left: 40px;
}
.right{
  position: relative;
  left: 15px;
}



//dropdown in tabel
.dropdown-wrapper {
  position: relative;
  display: inline-block; }

.dropdown {
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 110px;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 2002;
  }

.dropdown-list{
  margin-bottom: 0;
}

.dropdown__triangle-top {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(68, 68, 68, 0.2);
  position: absolute;
  right: 7px;
  top: -7px; }
.dropdown__triangle-top:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: -7px;
  left: -6px; }

.dropdown--open {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  visibility: visible;


}

.dropdown__list-item {
  line-height: 40px;
  min-height: 40px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
.dropdown__list-item a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: #2A2A2A;
  overflow: hidden; }
.dropdown__list-item a:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ed672f;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }
.dropdown__list-item:hover {
  background-color: #f5f5f5; }
.dropdown__list-item:hover a:before {
  left: 0; }
//dropdown in tabel



.th-header {
  span{
    display: inline-block;
    width: 100%;
    i{
      position: relative;
      top:2px;
      left: 10px;
      display: inline-block;
      width: 10px;
      height: 14px;
      background: url(../img/ShapesortUpDown.svg);
      background-repeat: no-repeat;

    }
  }

}
 .headerSortDown {
   span{

     i{
       position: relative;
       top:5px;
       left: 10px;
       display: inline-block;
       width: 10px;
       height: 12px;
       background: url(../img/Shapesortdown.png);
       background-repeat: no-repeat;

     }
   }


}
 .headerSortUp {
   span{
     i{
       position: relative;
       top:3px;
       left: 10px;
       display: inline-block;
       width: 10px;
       height: 12px;
       background: url(../img/Shapesortup.png);
       background-repeat: no-repeat;

     }
   }


}

//autor logo ina table
.autor {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #323232;
  margin: 0;
  .autor-logo {
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    width: 34px;
    height: 34px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background-color: #4f7bd9;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
  }

}

.dropdown-trigger {
  img {
    display: inline-block;
    max-height: 38px;
    max-width: 38px;
  }
  .user-menu-dropdown-caret {
    position: relative;
    left: 8px;
  }
}

.trigger-top{
  display: inline-block;
  margin-top: 10px;
}
//autor logo ina table

input::-webkit-calendar-picker-indicator{
  display: none;
}


input[type="date"]::-webkit-input-placeholder{
  visibility: hidden !important;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.bar-tooltip{
  width: 170px;
  height: 75px;
}


/*Checkboxes*/
.control {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;

}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;

}
.control_indicator {
  position: relative;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid #E0DDDD;
  border-radius: 4px;


}
.control-radio .control_indicator {

}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #fff;

}

.control input:checked ~ .control_indicator {
  background:#4f7bd9;

}

.control input:disabled ~ .control_indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;

}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;

}
.control input:checked ~ .control_indicator:after {
  display: block;

}
.control-checkbox .control_indicator:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.no-checkbox-border{
  position: relative;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}
/*Checkboxes*/