header{
  position: relative;
  padding: 5px 0 5px 0;
  background-color: #bdbdbd;


.nav{
  li{
    margin: 20px;
    a{
      color: #ffffff;
      font-size: 17px;
      padding: 5px;
      transition: 0.3s;
    }
    a:hover{
      background-color: transparent;
      color: #000;
    }
  }

}


}