body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
textarea, input {
  padding:10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #686868;
}

h2{
  display: inline-block;
  font-size: 64px;
  color: #000;
  .underline{
    border-bottom: 2px solid black;
  }
}
h3{
  font-size: 36px;
  color: #000000;
}
.red-line{
  display: block;
  margin-top: 10px;
  width: 45px;
  height: 4px;
  background: #FF550F;
}


.read-more-red{
  display: inline-block;
  width: 140px;
  height: 35px;
  background: #FF550F;
  border-radius: 133px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #FFFFFF;
}
.read-more-red:hover{
  color: #FFFFFF;
}

.load-more{
  display: inline-block;
  width: 393px;
  height: 60px;
 line-height: 60px;
  background: #5C5C5C;
  border-radius: 35px;
  font-size: 20px;
  color: #fff;
}

.header{
  position: fixed;
  width: 100%;
  height: 80px;
  transition: 0.3s;
  .navbar{
    .navbar-logo{
      line-height: 80px;
      color: #000;
      font-size: 24px;
      a:hover{
        color: #000;
      }
    }
    form {
      display: inline-block;
      line-height: 80px;
      margin: 0 80px 0 80px;
      input {
        width: 230px;
        height: 50px;
        background: #FBFBFB;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 70px;
        outline: none;
      }
    }
    .nav{
      margin: 15px 0 15px 0;
      li{
        a{
          font-size: 18px;
          color: #B1B1B1;
          transition: 0.3s;
        }
        a:hover{
          color: #FF550F;
          text-decoration: underline;
          background: none;
        }
      }
    }
  }
}
.darkStaticHeader{
  background: rgba(0,0,0, 0.7);
  transition: 0.3s;
  .navbar{
    .navbar-logo{
      color: #fff;
      a:hover{
        color: #fff;
      }
    }
  }
}

.hero{
  padding: 180px 0 100px 0;
  .hero-content{
    background: url("../img/hero-bg.png");
    background-size: 85% 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 50px 0 170px 0;
    .inspiration{
      width: 392px;
      height: 330px;
      padding: 50px;
      background: #FFFFFF;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;
      p{
        margin: 30px 0 30px 0;
        font-size: 16px;
        line-height: 20px;
        color: #8D8C8C;
      }
    }
  }
}

.section-3{
  .section-3-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item-left{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      padding: 0 60px 0 60px;
      width: 100%;
      height: 523px;
      margin-right: 20px;
      background: url("../img/Object.png");
      background-size: 100% 100%;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;
      h3{
        font-size: 36px;
        color: #FFFFFF;
      }
      p{
        font-size: 20px;
        color: #FFFFFF;
        margin: 70px 0 20px 0;
        line-height: 26px;
      }
      a{
        display: inline-block;
        line-height: 40px;
        width: 100px;
        height: 40px;
        background: #FF550F;
        border-radius: 133px;
        color: #fff;
      }
    }
    .item-right{
      width: 100%;
      height: 523px;
      margin-left: 20px;
      background: url("../img/everything.png");
      background-size: cover;
      box-shadow: 0px 2px 40px rgba(208, 208, 208, 0.5);
      border-radius: 3px;
    }
  }
}

.section-4{
  .section-4-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .item{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      vertical-align: middle;
      width: 360px;
      height: 300px;
      background-color: #0f0f0f;
      margin: 25px 0 25px 0;
      transition: 0.3s;
      .content{
        display: none;
        background: rgba(0,0,0, 0.7);
        padding: 50px 35px 0 35px;
        height: 100%;
        transition: 0.3s;
        h4{
          font-size: 30px;
          text-align: center;
          color: #FFFFFF;
        }
        p{
          margin: 25px 0 25px 0;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: #FFFFFF;
        }
      }

    }
    .item:hover{
      .content{
        display: block;
      }
    }


    #item-1{
      background: url("../img/travelbus_2x.png");
      background-size: 100% 100%;
    }

    #item-2{
      background: url("../img/boulder_badge.png");
      background-size: 100% 100%;
    }
    #item-3{
      background: url("../img/artboard_16_copy.png");
      background-size: 100% 100%;
    }
    #item-4{
      background: url("../img/travelbus_2x.png");
      background-size: 100% 100%;
    }
    #item-5{
      background: url("../img/boulder_badge.png");
      background-size: 100% 100%;
    }
    #item-6{
      background: url("../img/artboard_16_copy.png");
      background-size: 100% 100%;
    }
    
  }
}

